body {font-family: 'Oswald', sans-serif; font-size: 30px;}
* {padding: 0; margin: 0;}
.light {font-weight: 300;}
.regular {font-weight: 400;}
.fat {font-weight: 700;}

.tiny {font-size: 15px;}
.small {font-size: 25px;}
.medium {font-size: 30px;}
.big {font-size: 50px;}
.huge {font-size: 100px;}

.blackAndWhite {color: #000 !important;}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.leftfloat {float: left;}

/*Gradient used at daytime*/
 .backgroundGradientDay {
    height: 110%;
    width: 110%;
    margin: -10px;
    position: fixed; top:0px; left: 0px;
    background: -webkit-linear-gradient(#002A6B, #00DFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002A6B, #00DFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002A6B, #00DFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002A6B, #00DFFF); /* Standard syntax (must be last) */
    opacity: 1;
    z-index: -1;
}

/*Gradient used in the evening*/
 .backgroundGradientSunset {
    height: 110%;
    width: 110%;
    margin: -10px;
    position: fixed; top:0px; left: 0px;
    background: -webkit-linear-gradient(#6B0000, #FF0000, #FF7900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6B0000, #FF0000, #FF7900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6B0000, #FF0000, #FF7900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6B0000, #FF0000, #FF7900); /* Standard syntax (must be last) */
    opacity: 1;
    z-index: -1;
}

/*Gradient used at night*/
 .backgroundGradientNight {
    height: 110%;
    width: 110%;
    margin: -10px;
    position: fixed; top:0px; left: 0px;
    background: -webkit-linear-gradient(#000019, #1a1a2f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000019, #1a1a2f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000019, #1a1a2f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000019, #1a1a2f); /* Standard syntax (must be last) */
    opacity: 1;
    z-index: -1;
}

#content {
    display: block; width: 750px; margin-right: auto; margin-left: auto; z-index: 1; position: relative;
    text-align: center; color: #fff;
}

div {display: inline-block; margin-top: 0px; margin-bottom: 0px;}
img {margin-right: auto; margin-left: auto;}
hr {margin-top: 10px; color: white; background-color: white;}

#header {display: inline-block; margin-top: 0; margin-bottom: 0px;}
#header > img {width: 675px;}


#locationText {display: inline-block; margin-top: 35px;}
#findMe {background: url("location.png") no-repeat 8px; background-color: #fff; padding-left: 27px;}
#locationChoice {background: url("search.png") no-repeat 8px; background-color: #fff; padding-left: 35px;}
#currentTemperatureDiv {margin-right: 25px;}
#currentWeather {margin-top: 35px;}
#weatherIcon > img {width: 350px;}
.laterTodayMoment > img {width: 70px; margin-top: 20px;}
.laterTodayMoment {width: 70px; margin-top: 20px; margin-right: 10px; margin-left: 8px;}


.container .changeLocation {display: none;}
.container > img {margin-right: 25px;}
.container {margin-bottom: 40px; margin-top: 20px;}
form {width: 750px; margin-right: auto; margin-left: auto; margin-bottom: 30px; margin-top: 30px;}
input[type=text]{
    display: inline-block; height: 25px; padding-left: 30px; margin-left: 10px; border-radius: 15px; border: none;
    color: #444; font-style: italic; color: #444; border: solid 1px #606060;
}
input[type=text]:focus {outline: none; box-shadow: 0 0 10px 1px #333;}
input[type=button], .header {padding: 5px 15px; height: 25px; margin-left: 15px; border-radius: 5px; color: #444; border: solid 1px #606060; background-color: #fff;}
.header {font-size: 15px;}

#loading {
    opacity: 0; position: fixed; display: block; z-index: 1000; top: 0; left: 0; height: 100%; width: 100%; padding-top: 10%;
    background: rgba(0,0,0,0.8)
    url("loading.gif")
    50% 35% no-repeat;
    text-align: center;
}

#forecastToday {height: 300px; width: 100% !important; margin-top: 10px; margin-bottom: 90px;}
footer {margin-bottom: 45px; margin-top: 50px;}

#forecast {width: 100%; margin-bottom: 50px;}
#forecastData, .forecastDataDay {width: 100%;}
.forecastDataDay {margin-top: 20px;}
.forecastDataDay > div {width: 33%; padding-top: 10px;}
.forecastDay {text-align: left; padding-left: 20px;}
.forecastDataDay > img {width:70px;}









